<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Import Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
    <!--Import Bootstrap.css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Impoort fontawesome -->
    <script src="https://kit.fontawesome.com/285bb2ec9d.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Métodos de búsqueda</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(rgba(255, 255, 255, 0.7),
                    rgba(255, 255, 255, 0.9)),
                url("https://cdn.pixabay.com/photo/2016/05/31/15/34/nodes-1427176_960_720.png");
            background-size: cover;
        }

        /* colors */
        body {
            --color1: #8F1D00;
            --color2: #173691;
            --color3: #569109;
            --color4: #333333;
            --color5: #ffffff;
        }

        /* -------------fonts---------------- */
        body {
            font-family: 'Montserrat', sans-serif;
            color: var(--color4);
        }

        .txt-dark {
            color: var(--color4)
        }

        .txt-light {
            color: var(--color5);
        }

        .txt-red {
            color: var(--color2);

        }

        .navbar {
            background-color: var(--color4);
            border-bottom-color: var(--color1);
            border-style: inset;
            border-width: 0px 0px 7px 0px;
        }

        #logo_navbar {
            width: 10%;
        }

        .navbar-brand {
            color: #ffffff !important;
        }

        i {
            margin-left: 3px !important;
        }

        .inputmatriz {
            width: 50px;
            height: 50px;
            margin-bottom: 4px;
        }
    </style>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img id="logo_navbar" src="../static/images/logo-u-central.png" class="d-inline-block align-top" alt=""
                loading="lazy">
            Algoritmos de búsqueda
        </a>
    </nav>

    <div class="container-fluid" id="app">
        <br>
        <div class="row">
            <div class="col-lg-2">
                <!-- TOAST -->
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="ttoast">
                    <div class="toast-header txt-red">
                        <i class="fas fa-brain"></i>
                        <strong class="mr-auto">Aviso de notificación</strong>
                        <small>Ahora</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        [[alert_message]]
                    </div>
                </div>
            </div>
            <!-- card1 -->
            <div class="col-lg-5 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        Formulario de ingreso de parámetros
                    </div>
                    <form>
                        <div class="card-body" style="height: 700px;">
                            <div class="row">
                                <div class="col-lg-6" align="center">
                                    <h5 class="card-title">Estado inicial</h5>
                                    <div>
                                        <input id="ei_0" class="inputmatriz" type="number" :value="dataGraph.ei[0][0]">
                                        <input id="ei_1" class="inputmatriz" type="number" :value="dataGraph.ei[0][1]">
                                        <input id="ei_2" class="inputmatriz" type="number" :value="dataGraph.ei[0][2]">
                                    </div>
                                    <div>
                                        <input id="ei_3" class="inputmatriz" type="number" :value="dataGraph.ei[1][0]">
                                        <input id="ei_4" class="inputmatriz" type="number" :value="dataGraph.ei[1][1]">
                                        <input id="ei_5" class="inputmatriz" type="number" :value="dataGraph.ei[1][2]">
                                    </div>
                                    <div>
                                        <input id="ei_6" class="inputmatriz" type="number" :value="dataGraph.ei[2][0]">
                                        <input id="ei_7" class="inputmatriz" type="number" :value="dataGraph.ei[2][1]">
                                        <input id="ei_8" class="inputmatriz" type="number" :value="dataGraph.ei[2][2]">
                                    </div>

                                </div>
                                <div class="col-lg-6" align="center">
                                    <h5 class="card-title">Estado final</h5>
                                    <div>
                                        <input id="ef_0" class="inputmatriz" type="number" :value="dataGraph.ef[0][0]">
                                        <input id="ef_1" class="inputmatriz" type="number" :value="dataGraph.ef[0][1]">
                                        <input id="ef_2" class="inputmatriz" type="number" :value="dataGraph.ef[0][2]">
                                    </div>
                                    <div>
                                        <input id="ef_3" class="inputmatriz" type="number" :value="dataGraph.ef[1][0]">
                                        <input id="ef_4" class="inputmatriz" type="number" :value="dataGraph.ef[1][1]">
                                        <input id="ef_5" class="inputmatriz" type="number" :value="dataGraph.ef[1][2]">
                                    </div>
                                    <div>
                                        <input id="ef_6" class="inputmatriz" type="number" :value="dataGraph.ef[2][0]">
                                        <input id="ef_7" class="inputmatriz" type="number" :value="dataGraph.ef[2][1]">
                                        <input id="ef_8" class="inputmatriz" type="number" :value="dataGraph.ef[2][2]">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="method1" v-model="methodtype" name="search_method" value="bpp"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="method1">BPP</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="method2" v-model="methodtype" name="search_method" value="bpa"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="method2">BPA</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="method3" v-model="methodtype" name="search_method" value="hill"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="method3">Hill Climbing</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="method4" v-model="methodtype" name="search_method" value="ram"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="method4">Ramificación y acotamiento</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="method5" v-model="methodtype" name="search_method" value="a*"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="method5">A*</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="method6" v-model="methodtype" name="search_method" value="gen"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="method6">Algoritmo genético</label>
                            </div>
                            <br>
                            <div class="input-group input-group-sm mb-3" v-if="methodtype == 'bpp'" style="width: 50%;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Límite de niveles</span>
                                </div>
                                <input type="number" class="form-control" aria-label="Sizing example input"
                                    id="bpp_limit" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <br>
                            <p><b>Nota:</b>Puede ejecutar el algoritmo varias veces para ejecutar las reglas de busqueda en distinto orden (Puede llegar a la respuesta con dinstinto número de nodos)</p>
                            <button class="btn btn-primary btn-block" style="background-color: #333333;" type="button"
                                @click="sendSearchMethod">Calcular<i class="fas fa-brain"></i></button>
                            <br>
                            <div class="text-center" v-if="spinner_loading">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Calculando...</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>





            </div>
            <!-- card2 -->
            <div class="col-lg-5 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        Resultados
                    </div>
                    <div class="card-body" style="height: 700px;overflow-y: auto;">
                        <h6>Nodos generados: [[nodos_result]]</h6>
                        <h6>Pasos generados [[total_steps]]</h6>
                        <div v-for="node in data_result" v-if="render_graph">
                            <br>
                            Nodo # [[(node[0][0])]]
                            <p v-for="tuple in node[1]">
                                <!-- [[tuple[0]]]|[[tuple[1]]]|[[tuple[2]]] -->
                                [[tuple]]
                            </p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/index.js')}}"></script> -->
    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ["[[", "]]"],
            data: {
                methodtype: '',
                dataGraph: {
                    ei: [['2', '0', '3'], ['1', '8', '4'], ['7', '6', '5']],
                    ef: [['1', '2', '3'], ['8', '0', '4'], ['7', '6', '5']],
                    method: ''
                },
                flag_allowed: true,
                flag_unique: true,
                flag_null: true,
                URI: 'http://127.0.0.1:5000',
                nodos_result: 0,
                data_result: [[[0, 0, 0, 0], [['0', '0', '0'], ['0', '0', '0'], ['0', '0', '0']]]],
                alert_message: '',
                spinner_loading: false,
                render_graph: false,
                total_steps: 0
            },
            created: function () {

            },
            watch: {},
            methods: {
                showToast: function (val) {
                    option = {
                        delay: 6000
                    }
                    this.alert_message = val
                    $('#ttoast').toast(option)
                    $('#ttoast').toast('show')
                },
                sendSearchMethod: function () {
                    this.flag_allowed = true;
                    this.flag_unique = true;
                    this.flag_null = true;
                    let tmpArray_ei = []
                    let tmpArray_ef = []
                    // obtener el metodo
                    let arrCheckboxes = document.getElementsByName("search_method")
                    arrCheckboxes.forEach(el => {
                        if (el.checked) {
                            this.dataGraph.method = el.defaultValue
                        }
                    });

                    // obtener el estado inicial
                    this.dataGraph.ei = [[], [], []]
                    this.dataGraph.ei[0].push(document.getElementById("ei_0").value)
                    this.dataGraph.ei[0].push(document.getElementById("ei_1").value)
                    this.dataGraph.ei[0].push(document.getElementById("ei_2").value)
                    this.dataGraph.ei[1].push(document.getElementById("ei_3").value)
                    this.dataGraph.ei[1].push(document.getElementById("ei_4").value)
                    this.dataGraph.ei[1].push(document.getElementById("ei_5").value)
                    this.dataGraph.ei[2].push(document.getElementById("ei_6").value)
                    this.dataGraph.ei[2].push(document.getElementById("ei_7").value)
                    this.dataGraph.ei[2].push(document.getElementById("ei_8").value)

                    // obtener el estado final
                    this.dataGraph.ef = [[], [], []]
                    this.dataGraph.ef[0].push(document.getElementById("ef_0").value)
                    this.dataGraph.ef[0].push(document.getElementById("ef_1").value)
                    this.dataGraph.ef[0].push(document.getElementById("ef_2").value)
                    this.dataGraph.ef[1].push(document.getElementById("ef_3").value)
                    this.dataGraph.ef[1].push(document.getElementById("ef_4").value)
                    this.dataGraph.ef[1].push(document.getElementById("ef_5").value)
                    this.dataGraph.ef[2].push(document.getElementById("ef_6").value)
                    this.dataGraph.ef[2].push(document.getElementById("ef_7").value)
                    this.dataGraph.ef[2].push(document.getElementById("ef_8").value)

                    Array.prototype.unique = function (a) {
                        return function () { return this.filter(a) }
                    }(function (a, b, c) {
                        return c.indexOf(a, b + 1) < 0
                    });

                    for (let i = 0; i < this.dataGraph.ei.length; i++) {
                        for (let j = 0; j < this.dataGraph.ei[i].length; j++) {
                            tmpArray_ei.push(this.dataGraph.ei[i][j])
                            tmpArray_ef.push(this.dataGraph.ef[i][j])
                            // validacion de datos mayores a 0 y menores a 9
                            if (parseInt(this.dataGraph.ei[i][j]) < 0
                                || parseInt(this.dataGraph.ei[i][j]) > 8
                                || parseInt(this.dataGraph.ef[i][j]) < 0
                                || parseInt(this.dataGraph.ef[i][j]) > 8) {
                                this.flag_allowed = false;
                            }
                            // validacion de datos no nulos
                            if (this.dataGraph.ei[i][j] == "" || this.dataGraph.ef[i][j] == "") {
                                this.flag_null = false;
                            }
                        }
                    }



                    // validación de datos únicos
                    if (tmpArray_ei.length !== tmpArray_ei.unique().length || tmpArray_ef.length !== tmpArray_ef.unique().length) {
                        this.flag_unique = false;
                    } else {
                        this.flag_unique = true;
                    }



                    if (this.flag_allowed && this.flag_unique && this.flag_null) {
                        if (this.dataGraph.method != "") {
                            if (this.dataGraph.method == 'bpp') {
                                this.dataGraph.bpp_limit = parseInt(document.getElementById("bpp_limit").value)
                            }
                            let context = this;
                            context.spinner_loading = true
                            // aca hace peticion http
                            axios({
                                method: 'post',
                                url: context.URI + '/search_method',
                                data: context.dataGraph,
                                timeout: 1000 * 3600
                            }).then(response => {
                                context.showToast("Algoritmo ejecutado correctamente")
                                // Respuesta del servidor
                                context.spinner_loading = false
                                console.log(response.data)
                                if (response.data.data.total_nodes == 'Indeterminado') {
                                    context.render_graph = false
                                    context.total_steps = 0
                                    context.nodos_result = response.data.data.route
                                    context.data_result = [[[0, 0, 0, 0], [['0', '0', '0'], ['0', '0', '0'], ['0', '0', '0']]]]
                                } else {
                                    context.nodos_result = response.data.data.total_nodes
                                    context.data_result = response.data.data.route
                                    context.render_graph = true
                                    context.total_steps = response.data.data.route.length
                                }
                            }).catch(e => {
                                console.log(e);
                                context.spinner_loading = false
                            });
                        } else {
                            this.showToast("Seleccione un método de búsqueda primero")
                        }

                    } else {
                        this.showToast("Los datos ingresados no son válidos. Recuerde que solo puede ingresar números del 0 al 8 sin repetirlos en la matriz")
                    }

                    // console.log(dataGraph)

                },
            },
            computed: {

            },
            updated: function () { },
            mounted() {

            }
        })

    </script>

</body>

</html>